#root {
  width: 400px;
}

.card {
  width: 33%;
  perspective: 1000;
  display: inline-block;
  transition: transform 0.8s;
  height: 117px;
  transform-style: preserve-3d;
}

.card.show {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d; 
  position: relative;
 }

.card__front, .card__back {
  backface-visibility: hidden;
  position: absolute;  
  padding: 50px 0;
  width: 100%;
 }

.card__front {
  outline: 1px solid rgb(124, 2, 2);
  z-index: 2;
  color:white;
  text-align: center;
  background-color: rgb(190, 64, 55);
}

.card__back {
  outline: 1px solid rgb(55, 174, 190);
  background-color: rgb(55, 174, 190);
  color:white;
  text-align: center;
  transform: rotateY(180deg);
}

.disabled .card__back {
  outline: 1px solid rgb(26, 185, 60);
  background-color: rgb(26, 185, 60);
  color:white;
  text-align: center;
  transform: rotateY(180deg);
}